node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
src/config/
# macOS
.DS_Store
ios/
android/
# Unused screens
src/screens/MapScreen.js
src/screens/LoggedInScreen.js
src/data/
coverage/
